{% extends 'base.html' %} {% block container %}
<a href="/server-registration" class="btn btn-info">Register New Server</a>
<hr />
<div class="display-4">Servers</div>
<table class="table">
  <tr>
    <th>URL</th>
    <th>Status</th>
    <th>Owner</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  {% for server in data.servers %}
  <tr>
    <td>{{ server.URL }}</td>
    <td>{{ server.status }}</td>
    <td>{{ server.owner_name }}</td>
    <td>{{ server.description }}</td>
    <td>
      <a href="/servers/delete/{{ server._id }}" class="btn btn-danger"
        >Delete</a
      >
      <a href="/servers/edit/{{ server._id }}" class="btn btn-danger">Edit</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
